body
{
    margin: 0;
    padding: 0;
    height: 100px;
}
.banner
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.container a img
{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 150px;
}